{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center mt-5 mx-5 mb-5 ">
    <div class="col-lg-6">
        <div class="card border-0 shadow-lg" id="form-wrapper">
            <div class="card-body">
                <form class="mt-2" id="form">
                    {% csrf_token %}
                    <div class="row d-flex" id="user-info">
                        <div class="col-lg-6 mb-4">
                            <input class="form-control" placeholder="Your Name" name="name" type="name" required />
                        </div>
                        <div class=" col-lg-6 mb-4">
                            <input class="form-control" placeholder="Email" name="email" type="email" required />
                        </div>
                    </div>
                    <div class="row d-flex" id="shipping-info">
                        <p class="fw-bold">Shipping information</p>

                        <div class="col-lg-6 mb-4">
                            <input class="form-control" placeholder="Address" name="address" type="address" required />
                        </div>
                        <div class=" col-lg-6 mb-4">
                            <input class="form-control" placeholder="City" name="city" type="city" required />
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input class="form-control" placeholder="State" name="state" type="state" required />
                        </div>
                        <div class=" col-lg-6 mb-4">
                            <input class="form-control" placeholder="Zip code" name="code" type="code" required />
                        </div>

                    </div>
                    <div class="mb-2 ">
                        <button type="submit" class="btn btn-sm btn-success w-100" id="form-btn">Continue</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card border-0 shadow-lg mt-2 d-none" id="payment-info">
            <p class="mx-2 mt-2">Paypal options</p>
            <button class="btn btn-sm btn-info mb-2 mx-2 text-light fw-bold" id="make-payment">Make payment</button>
        </div>
    </div>
    <div class="col-lg-5 ">
        <div class="card border-0 shadow-lg">
            <div class="card-body ">
                <a href="{% url 'cart' %}" class="btn btn-outline-dark"><i class="fa fa-long-arrow-left"
                        aria-hidden="true"></i>
                    &nbsp;&nbsp; Back to Cart</a>
                <h4 class="mt-2 ">Order Summary </h4>
                {% for item in items %}
                <div class="row d-flex">
                    <hr>
                    <div style="flex: 2;">
                        <img src="{{item.product.imageURL}}" class="img-fluid w-25">
                    </div>
                    <div style="flex: 1;">
                        <p>{{item.product.name}}</p>
                    </div>
                    <div style="flex: 1;">
                        <p>${{item.product.price|floatformat:2}}</p>
                    </div>
                    <div style="flex: 1;">
                        <p>x{{item.quantity}}</p>
                    </div>
                    <hr>
                </div>
                {% endfor %}
                <h6>Items: {{order.get_cart_items}}</h6>
                <h6>Total: ${{order.get_cart_total|floatformat:2}}</h6>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var shipping = '{{order.shipping}}'
        var total = '{{order.get_cart_total|floatformat:2}}'
        if (shipping == 'False') {
            document.getElementById('shipping-info').innerHTML = ''
        }

        if (user != 'AnonymousUser') {
            document.getElementById('user-info').innerHTML = ''
        }
        if (shipping == 'false' && user != 'AnonymousUser') {
            //Hide entire form if user is logged in and shipping is false 
            document.getElementById('form-wrapper').classList.add('d-none');
            //Show payment if logged in user wants to buy an item that does not require shipping
            document.getElementByid('payment-info').classList.remove('d-none');
        }

        var form = document.getElementById('form')
            form.addEventListener('submit', function (e) {
            e.preventDefault()
            console.log('Form submitted....')
            document.getElementById('form-btn').classList.add("d-none");
            document.getElementById('payment-info').classList.remove('d-none');
        })

        document.getElementById('make-payment').addEventListener('click', function (e) {
            submitFormData()
        })
        function submitFormData() {
            console.log('payment button clicked')

            var userFormData = {
                'name' : null,
                'email' : null,
                'total' : total,            
            }
            var shippingInfo = {
                'address' : null,
                'city' : null,
                'state' : null, 
                'zipcode' : null,           
            }

            if(shipping != 'False'){
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }
            
            if(user == 'AnonymousUser'){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }
           
            var url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo}),
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction completed');
                window.location.href = "{% url 'store' %}"
            })
        }
    </script>
    {% endblock content %}