{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row mt-5">
    {% for product in products %}
    <div class="col-md-4 ">
        <div class="card border-0 shadow-lg ">
            <div class="card-body">
                <img src="{%static 'images/headphone2.png'%}" class="w-75 ">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary ">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 class="d-inline-block ms-5"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}